<!-- Modal -->
<div class="modal registro" id="ingreso">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal">&#10006;</div>
            <h4>
                Inicia tu sesión
            </h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="casilla-input form-group">
                    <input type="text" placeholder="Correo" class="form-input">
                </div>
                <div class="casilla-input form-group">
                    <input type="password" placeholder="Password" class="form-input">
                </div>
                <div class="col-12 d-flex justify-content-center ">
                    <button type="submit">
                        Ingresa
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal registro" id="registro">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
        <div class="modal-header">
            <div class="close-modal">&#10006;</div>
            <h4>
                Registro
            </h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="casilla-input form-group">
                  <input
                    formControlName="name"
                    id="name"
                    type="text"
                    class="form-control"
                    placeholder="Nombres y apellidos">
                    <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                        <div *ngIf="f.name.errors.required">*El nombre es requerido.</div>
                        <div *ngIf="f.name.errors.pattern">*El nombre debe contener únicamente letras</div>
                    </div>
                </div>
                <div class="casilla-input form-group">
                    <input
                        formControlName="email"
                        id="email"
                        type="email"
                        class="form-control"
                        placeholder="Correo eléctronico">
                    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">*El email es requerido.</div>
                      <div *ngIf="f.email.errors.email">*Debe ingresar un email valido.</div>
                    </div>
                </div>
                <div class="casilla-input form-group">
                    <input
                        formControlName="phone"
                        id="number"
                        type="number"
                        class="form-control"
                        placeholder="Teléfono">
                    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">*El teléfono es requerido.</div>
                      <div *ngIf="f.email.errors.email">*Debe ingresar un # telefónico.</div>
                    </div>
                </div>
                <div class="casilla-input form-group">
                    <input
                        formControlName="password"
                        id="pass"
                        type="password"
                        class="form-control"
                        placeholder="Contraseña">
                    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">*El password es requerido.</div>
                      <div *ngIf="f.email.errors.email">*Debe ingresar un password valído.</div>
                    </div>
                </div>
                <div class="d-flex">
                    <input type="checkbox" id="cbx" name="terminos" value="Si"
                    formControlName="terminos"
                    class="form-control"
                    style="width: 15px; margin: 0; height: 20px">
                    <label align="center" class="smoll mb-0 ml-3">
                        Acepto los <a href="#">terminos y condiciones
                        </a>
                    </label>
                </div>
                <div class="col-12 d-flex justify-content-center mt-4 ">
                    <button type="submit" [disabled]="!form.valid" class="disabled" disabled id="Enviar">
                        Ingresa
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
