<section class="Producto Leads pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 bdr-1">
                <div class="tab-vertical">
                    <ul class="nav nav-tabs" role="tablist">
                        <li>
                            <h5>
                                Tus productos
                            </h5>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center active" id="basic-info" data-toggle="tab" href="#home-vertical" role="tab" aria-controls="home" aria-selected="true">
                                <img src="assets/img/productos/antonio-rull-Ccyfecyjsds-unsplash.jpg" alt="" class="mr-2">
                                <span>
                                    15
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center full" id="profile-vertical-tab" data-toggle="tab" href="#profile-vertical" role="tab" aria-controls="profile" aria-selected="false">
                                <img src="assets/img/productos/sagar-rana-bFDdb5Yl_-w-unsplash.jpg" alt="" width="25" class="mr-2">
                                <span>
                                    0
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content p-0" id="myTabContent3">
                        <div class="tab-pane fade show active " id="home-vertical" role="tabpanel" aria-labelledby="basic-info">
                            <ul class="nav nav-tabs not-sticky" id="myTab3" role="tablist">
                                <li>
                                    <h5>
                                        A quienes les interesa
                                    </h5>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" id="basic-info" data-toggle="tab" href="#home-vertical2" role="tab" aria-controls="home2" aria-selected="true">
                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                        <span>
                                            8
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active d-flex align-items-center full" id="profile-vertical-tab2" data-toggle="tab" href="#profile-vertical2" role="tab" aria-controls="profile2" aria-selected="false">
                                        <img src="assets/img/productos/profile2.png" alt="" width="25" class="mr-2">
                                        <span>
                                            3
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center full" id="profile-vertical-tab2" data-toggle="tab" href="#profile-vertical3" role="tab" aria-controls="profile3" aria-selected="false">
                                        <img src="assets/img/productos/profile3.png" alt="" width="25" class="mr-2">
                                        <span>
                                            4
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content p-0 row">
                                <div class="tab-pane leads fade col-md-9" id="home-vertical2" role="tabpanel" aria-labelledby="basic-info">
                                    <div class="messages">
                                        <div class="body-message">
                                            <div class="wrapper">
                                                <div class="timeline">
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="write-message">
                                        <textarea name="" id="" cols="30" rows="10"></textarea>
                                        <button type="submit">
                                            <img src="assets/img/productos/send.svg" alt="" width="25">
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane leads fade col-md-9 show active" id="profile-vertical2" role="tabpanel" aria-labelledby="basic-info">
                                    <div class="messages">
                                        <div class="body-message">
                                            <div class="wrapper">
                                                <div class="timeline">
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile2.png" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile2.png" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="write-message">
                                        <textarea name="" id="" cols="30" rows="10"></textarea>
                                        <button type="submit">
                                            <img src="assets/img/productos/send.svg" alt="" width="25">
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane leads fade col-md-9" id="profile-vertical3" role="tabpanel" aria-labelledby="basic-info">
                                    <div class="messages">
                                        <div class="body-message">
                                            <div class="wrapper">
                                                <div class="timeline">
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile3.png" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile3.png" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                    <dl class="timeline--entry">
                                                        <img src="assets/img/productos/profile.svg" alt="" class="mr-2">
                                                        <dd class="timeline--entry__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="write-message">
                                        <textarea name="" id="" cols="30" rows="10"></textarea>
                                        <button type="submit">
                                            <img src="assets/img/productos/send.svg" alt="" width="25">
                                        </button>
                                    </div>
                                </div>
                                <div class="col-auto col-md-3 preview">
                                    <h5>
                                        Preview
                                    </h5>
                                    <img src="assets/img/productos/preview.JPG" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane features_product bb-0 fade" id="profile-vertical" role="tabpanel" aria-labelledby="profile-vertical-tab">
                            <h5>
                                Aun nadie ha visto este producto
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>