<section class="Busqueda pt-5 pb-5">
    <div class="container">
        <div class="row d-flex align-items-lg-start">
            <div class="col-12">
                <div class="col-auto breadcrumb">
                    <p class="mb-0">
                        Búsqueda
                    </p>
                </div>
            </div>
            <div class="col-md-3 filtres">
                <div class="filter filter1">
                    <h5>
                        Precio
                    </h5>
                    <form action="#" class="d-xl-flex">
                        <input type="number" class="input-price" placeholder="Mínimo">
                        <span>
                            -
                        </span>
                        <input type="number" class="input-price" placeholder="Máximo">
                    </form>
                </div>
                <div class="filter filter2">
                    <h5>
                        Condición
                    </h5>
                    <ul>
                        <li>
                            <p>
                                <input type="checkbox" name="Nuevo" id="Nuevo">
                                <label for="Nuevo">
                                    Nuevo
                                </label>
                            </p>
                        </li>
                        <li>
                            <p>
                                <input type="checkbox" name="Usado" id="Usado">
                                <label for="Usado">
                                    Usado
                                </label>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="filter filter3">
                    <h5>
                        Tipo de bicicleta
                    </h5>
                    <ul>
                        <li>
                            <p>
                                <input type="checkbox" id="Mountain">
                                <label for="Mountain">
                                    Montaña
                                </label>
                            </p>
                        </li>
                        <li>
                            <p>
                                <input type="checkbox" id="Paseo">
                                <label for="Paseo">
                                    Paseo
                                </label>
                            </p>
                        </li>
                        <li>
                            <p>
                                <input type="checkbox" id="BMX">
                                <label for="BMX">
                                    BMX
                                </label>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 filtro">
                <div class="productos col-12 row ml-0 mt-3 pr-0">
                    <!-- Prod. -->
                    <div class="producto col-md-4">
                        <div class="product">
                            <div class="new">
                                <p>
                                    Nuevo
                                </p>
                            </div>
                            <img src="assets/img/example.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-body">
                            <h5>
                                <a href="#">
                                    Deportes
                                </a>
                                <span>
                                    27 Ene.
                                </span>
                            </h5>
                            <h4>
                                <a href="/producto/">
                                    Bicicleta todo terreno
                                </a>
                            </h4>
                            <h6>
                                Propietario: <a href="#">Gabriel</a>
                            </h6>
                            <p class="d-flex justify-content-lg-between align-items-md-baseline">
                                <a href="/producto/" class="btn">
                                    Ver producto
                                </a>
                                Bogotá, Colombia
                            </p>
                        </div>
                    </div>
                    <!-- Prod. -->
                    <div class="producto col-md-4">
                        <div class="product">
                            <img src="assets/img/example.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-body">
                            <h5>
                                <a href="#">
                                    Deportes
                                </a>
                                <span>
                                    27 Ene.
                                </span>
                            </h5>
                            <h4>
                                <a href="/producto/">
                                    Bicicleta todo terreno
                                </a>
                            </h4>
                            <h6>
                                Propietario: <a href="#">Gabriel</a>
                            </h6>
                            <p class="d-flex justify-content-lg-between align-items-md-baseline">
                                <a href="/producto/" class="btn">
                                    Ver producto
                                </a>
                                Bogotá, Colombia
                            </p>
                        </div>
                    </div>
                    <!-- Prod. -->
                    <div class="producto col-md-4">
                        <div class="product">
                            <img src="assets/img/example.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-body">
                            <h5>
                                <a href="#">
                                    Deportes
                                </a>
                                <span>
                                    27 Ene.
                                </span>
                            </h5>
                            <h4>
                                <a href="/producto/">
                                    Bicicleta todo terreno
                                </a>
                            </h4>
                            <h6>
                                Propietario: <a href="#">Gabriel</a>
                            </h6>
                            <p class="d-flex justify-content-lg-between align-items-md-baseline">
                                <a href="/producto/" class="btn">
                                    Ver producto
                                </a>
                                Bogotá, Colombia
                            </p>
                        </div>
                    </div>
                    <!-- Prod. -->
                    <div class="producto col-md-4 mt-2">
                        <div class="product">
                            <img src="assets/img/example.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-body">
                            <h5>
                                <a href="#">
                                    Deportes
                                </a>
                                <span>
                                    27 Ene.
                                </span>
                            </h5>
                            <h4>
                                <a href="/producto/">
                                    Bicicleta todo terreno
                                </a>
                            </h4>
                            <h6>
                                Propietario: <a href="#">Gabriel</a>
                            </h6>
                            <p class="d-flex justify-content-lg-between align-items-md-baseline">
                                <a href="/producto/" class="btn">
                                    Ver producto
                                </a>
                                Bogotá, Colombia
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
