<main>
    <section class="banner">
        <div class="owl-carousel banner-carousel owl-theme">
            <div class="item">
                <div class="col-md-6 txt">
                    <h3>
                        Venta gratis
                    </h3>
                    <p>
                        Lo tenemos para tí
                    </p>
                    <p>
                        <a href="/busqueda/" class="btn">
                            Ver los productos
                        </a>
                    </p>
                </div>
                <img src="assets/img/banner1.jpg" alt="" class="img-fluid">
            </div>
            <div class="item">
                <div class="col-md-6 txt">
                    <h3>
                        Venta gratis
                    </h3>
                    <p>
                        Lo tenemos para tí
                    </p>
                    <p>
                        <a href="/busqueda/" class="btn">
                            Ver los productos
                        </a>
                    </p>
                </div>
                <img src="assets/img/banner1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </section>
    <section class="categorias mt-3 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3">
                        <b>Categorías</b> que pueden interesarte
                    </h2>
                </div>
                <div class="categorias col-12 row mt-3">
                    <!-- Cat -->
                    <div class="categoria col-auto">
                        <div class="circle">
                            <img src="assets/img/tecnologia.jpg" alt="">
                        </div>
                        <h4>
                            Tecnología
                        </h4>
                    </div>
                    <!-- Cat -->
                    <div class="categoria col-auto">
                        <div class="circle">
                            <img src="assets/img/hogar.jpg" alt="">
                        </div>
                        <h4>
                            Hogar
                        </h4>
                    </div>
                    <!-- Cat -->
                    <div class="categoria col-auto">
                        <div class="circle">
                            <img src="assets/img/deportes.jpg" alt="">
                        </div>
                        <h4>
                            Deportes
                        </h4>
                    </div>
                    <!-- Cat -->
                    <div class="categoria col-auto">
                        <div class="circle">
                            <img src="assets/img/mascotas.jpg" alt="">
                        </div>
                        <h4>
                            Mascotas
                        </h4>
                    </div>
                    <!-- Cat -->
                    <div class="categoria col-auto">
                        <div class="circle">
                            <img src="assets/img/videojuegos.jpg" alt="">
                        </div>
                        <h4>
                            Video juegos
                        </h4>
                    </div>
                    <!-- Cat -->
                    <div class="categoria col-auto">
                        <div class="circle">
                            <img src="assets/img/ropa.jpg" alt="">
                        </div>
                        <h4>
                            Ropa
                        </h4>
                    </div>
                    <!-- Cat -->
                    <div class="categoria col-auto">
                        <div class="circle">
                            <img src="assets/img/vehiculos.jpg" alt="">
                        </div>
                        <h4>
                            Vehículos
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="nuevos mt-2 pt-2 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3">
                        <b>Lo más visto</b> en productos
                    </h2>
                </div>
                <div class="productos col-12 row ml-0 mt-3 pr-0 justify-content-center">
                    <!-- Prod. -->
                    <div class="producto col-auto mr-1">
                        <div class="product">
                            <div class="new">
                                <p>
                                    Nuevo
                                </p>
                            </div>
                            <img src="assets/img/example.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-body">
                            <h5>
                                <a href="#">
                                    Deportes
                                </a>
                                <span>
                                    27 Ene.
                                </span>
                            </h5>
                            <h4>
                                <a href="/producto/">
                                    Bicicleta todo terreno
                                </a>
                            </h4>
                            <h6>
                                Propietario: <a href="#">Gabriel</a>
                            </h6>
                            <p class="d-flex justify-content-lg-between align-items-md-baseline">
                                <a href="#" class="btn">
                                    Ver producto
                                </a>
                                Bogotá, Colombia
                            </p>
                        </div>
                    </div>
                    <!-- Prod. -->
                    <div class="producto col-auto mr-1">
                        <div class="product">
                            <img src="assets/img/example.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-body">
                            <h5>
                                <a href="#">
                                    Deportes
                                </a>
                                <span>
                                    27 Ene.
                                </span>
                            </h5>
                            <h4>
                                <a href="/producto/">
                                    Bicicleta todo terreno
                                </a>
                            </h4>
                            <h6>
                                Propietario: <a href="#">Gabriel</a>
                            </h6>
                            <p class="d-flex justify-content-lg-between align-items-md-baseline">
                                <a href="#" class="btn">
                                    Ver producto
                                </a>
                                Bogotá, Colombia
                            </p>
                        </div>
                    </div>
                    <!-- Prod. -->
                    <div class="producto col-auto mr-1">
                        <div class="product">
                            <img src="assets/img/example.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-body">
                            <h5>
                                <a href="#">
                                    Deportes
                                </a>
                                <span>
                                    27 Ene.
                                </span>
                            </h5>
                            <h4>
                                <a href="/producto/">
                                    Bicicleta todo terreno
                                </a>
                            </h4>
                            <h6>
                                Propietario: <a href="#">Gabriel</a>
                            </h6>
                            <p class="d-flex justify-content-lg-between align-items-md-baseline">
                                <a href="#" class="btn">
                                    Ver producto
                                </a>
                                Bogotá, Colombia
                            </p>
                        </div>
                    </div>
                    <!-- Prod. -->
                    <div class="producto col-auto">
                        <div class="product">
                            <img src="assets/img/example.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-body">
                            <h5>
                                <a href="#">
                                    Deportes
                                </a>
                                <span>
                                    27 Ene.
                                </span>
                            </h5>
                            <h4>
                                <a href="/producto/">
                                    Bicicleta todo terreno
                                </a>
                            </h4>
                            <h6>
                                Propietario: <a href="#">Gabriel</a>
                            </h6>
                            <p class="d-flex justify-content-lg-between align-items-md-baseline">
                                <a href="#" class="btn">
                                    Ver producto
                                </a>
                                Bogotá, Colombia
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 row mt-3 justify-content-center">
                    <p align="center">
                        <a href="#" class="btn">
                            Cargar más
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

</main>