<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="col-md-3">
                    <img src="assets/img/logo.png" alt="" width="100">
                </div>
                <div class="col-md-3">
                    <h4>
                        Accesos rapidos
                    </h4>
                    <ul class="mb-0">
                        <li>
                            <a href="#">
                                Iniciar sesión
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Vende aquí
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Anuncia aquí
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>
                        Sigue conectado
                    </h4>
                    <div class="d-flex justify-content-center">
                        <div class="Social col-xs-3" id="FacebookFooter">
                            <a href="#" target="_blank"><em class="fa fa-facebook-square" aria-hidden="true"></em></a>
                        </div>
                        <div class="Social col-xs-3" id="TwitterFooter">
                            <a href="#" target="_blank"><em class="fa fa-twitter-square" aria-hidden="true"></em></a>
                        </div>
                        <div class="Social col-xs-3" id="YouTubeFooter">
                            <a href="#" target="_blank"><em class="fa fa-youtube-square" aria-hidden="true"></em></a>
                        </div>
                        <div class="Social col-xs-3" id="InstamgramFooter">
                            <a href="#" target="_blank"><em class="fa fa-instagram" aria-hidden="true"></em></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>
                        Información
                    </h4>
                    <p>
                        <span>
                            WhatsApp:
                        </span>
                        <br>
                        <span>
                            Teléfono:
                        </span>
                        <br>
                        <span>
                            PBX:
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="mb-0" align="center">
                        <a href="#">
                            Creado por: Woobsing
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="mb-0" align="center">
                        <a href="#">
                            Condiciones de uso
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="mb-0" align="center">
                        <a href="#">
                            Términos y condiciones
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>