.owl-carousel .owl-item img {
    position: relative;
}
.banner .owl-carousel .owl-item .txt {
    position: absolute; top: 0; left: 0;
    z-index: 9; padding: 4em;
}
.banner .owl-carousel .owl-item .txt h3 {
    font-size: 65px; font-weight: 600; line-height: 29px;
    color: #000; margin-bottom: .5em;
}
.banner .owl-carousel .owl-item .txt p{
    font-size: 40px; font-weight: 300; line-height: 50px;
    color: #000;
}