<section class="Producto pt-5 pb-5">
    <div class="container">
        <div class="row d-flex align-items-lg-start">
            <div class="col-12">
                <div class="col-auto breadcrumb">
                    <p class="mb-0">
                        <a href="#">
                            Inicio
                        </a>
                        /
                        <a href="#">
                            Deportes
                        </a>
                        /
                        <a href="#">
                            Bicicletas
                        </a>
                        /
                        Bicicleta todo terreno
                    </p>
                </div>
            </div>
            <div class="col-md-8 product">
                <div class="col-12 img_product">
                    <div id="sync1" class="owl-carousel owl-theme edit-product">
                        <div class="item">
                            <img src="assets/img/productos/antonio-rull-Ccyfecyjsds-unsplash.jpg" alt="" class="img-fluid">
                            <div class="icons d-flex align-items-center ">
                                <a href="#">
                                    <img src="assets/img/add.svg" alt="" width="35" style="width: 35px !important">
                                </a>
                                <a href="#">
                                    <img src="assets/img/edit.svg" alt="" width="45" style="width: 45px !important">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/img/productos/sagar-rana-bFDdb5Yl_-w-unsplash.jpg" alt="" class="img-fluid">
                            <div class="icons d-flex align-items-center ">
                                <a href="#">
                                    <img src="assets/img/add.svg" alt="" width="35" style="width: 35px !important">
                                </a>
                                <a href="#">
                                    <img src="assets/img/edit.svg" alt="" width="45" style="width: 45px !important">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="sync2" class="owl-carousel owl-theme thumbnails mt-3 edit-product">
                        <div class="item d-flex align-items-center">
                            <img src="assets/img/productos/antonio-rull-Ccyfecyjsds-unsplash.jpg" alt="" class="img-fluid" width="100">
                        </div>
                        <div class="item d-flex align-items-center">
                            <img src="assets/img/productos/sagar-rana-bFDdb5Yl_-w-unsplash.jpg" alt="" class="img-fluid" width="100">
                        </div>
                    </div>
                </div>
                <div class="col-12 description_product mt-4">
                    <h3>
                        Descripción
                    </h3>
                    <div class="edit-product">
                        <div class="item">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo magni deleniti animi itaque sit eum, debitis at ipsum quos natus voluptatem labore nesciunt iusto repellat. At, libero, quod. Dolorem, repellendus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed veniam sunt, itaque amet eius quae? Qui in nihil tempore ipsa quam sequi, eius odit blanditiis, fugiat adipisci nemo nostrum, rem.
                            </p>
                            <a href="#" class="icons">
                                <img src="assets/img/edit.svg" alt="" width="45">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 features_product">
                    <h3>
                        Características
                    </h3>
                    <table>
                        <tr>
                            <td>
                                <b>
                                    Marca
                                </b>
                            </td>
                            <td>
                                <span>
                                    Shimano
                                </span>
                            </td>
                            <td class="edit">
                                <a href="#">
                                    <img src="assets/img/edit.svg" alt="" width="30">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    Modelo
                                </b>
                            </td>
                            <td>
                                <span>
                                    Todoterreno 26"
                                </span>
                            </td>
                            <td class="edit">
                                <a href="#">
                                    <img src="assets/img/edit.svg" alt="" width="30">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    Año
                                </b>
                            </td>
                            <td>
                                <span>
                                    2018
                                </span>
                            </td>
                            <td class="edit">
                                <a href="#">
                                    <img src="assets/img/edit.svg" alt="" width="30">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="col-12 mt-4 d-flex d-flex justify-content-center">
                        <a href="#">
                            <img src="assets/img/add.svg" alt="" width="25">
                        </a>
                    </div>
                </div>
                <div class="col-12 comentarios_product">
                    <form action="#" class="d-flex">
                        <input type="text" placeholder="Haz una pregunta">
                        <button class="btn_pregunta modal-trigger" data-modal="ingreso">
                            <span>
                                Preguntar
                            </span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-4 detail_product">
                <div class="info_product">
                    <h4>
                        Bicicleta todo terreno
                    </h4>
                    <div class="btn_contacto">
                        <h5>
                            ¿Te interesa este producto?
                        </h5>
                        <p align="center">
                            <a href="/agregar/" class="btn btn_telefono">
                                Ver teléfono
                            </a>
                            <br>
                            <a href="#" class="btn btn_contacto modal-trigger" data-modal="ingreso">
                                Quiero que me contacten
                            </a>
                        </p>
                    </div>
                </div>
                <div class="info_seller">
                    <h4>
                        Información del vendedor
                    </h4>
                    <div class="seller">
                        <h6>
                            <a href="#">
                                Gabriel
                            </a>
                            <br>
                            <span>
                                Natural
                            </span>
                        </h6>
                        <div class="form-group" id="rating-ability-wrapper">
                            <label class="control-label" for="rating">
                                <span class="field-label-info"></span>
                                <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                            </label>
                            <h2 class="bold rating-header" style="">
                                <span class="selected-rating">0</span><small> / 5</small>
                            </h2>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="info_site">
                    <h4>
                        Publicado en
                        <br>
                        <small>
                            Bogotá, Cundinamarca, Colombia
                        </small>
                    </h4>
                    <p>
                        <img src="assets/img/productos/example_map.JPG" alt="" class="img-fluid">
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
