<section class="Producto add_product pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9 bdr-1">
                <div class="tab-vertical">
                    <ul class="nav nav-tabs" id="myTab3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active d-flex align-items-center" id="basic-info" data-toggle="tab" href="#home-vertical" role="tab" aria-controls="home" aria-selected="true">
                                <img src="assets/img/productos/info.svg" alt="" width="25" class="mr-2">
                                <span>
                                    Información básica
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-md-flex align-items-center full" id="profile-vertical-tab" data-toggle="tab" href="#profile-vertical" role="tab" aria-controls="profile" aria-selected="false">
                                <img src="assets/img/productos/features.svg" alt="" width="25" class="mr-2">
                                <span>
                                    Características
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="contact-vertical-tab" data-toggle="tab" href="#contact-vertical" role="tab" aria-controls="contact" aria-selected="false">
                                <img src="assets/img/productos/image.svg" alt="" width="25" class="mr-2">
                                <span>
                                    Imágenes
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" id="contact2-vertical-tab" data-toggle="tab" href="#contact2-vertical" role="tab" aria-controls="contact2" aria-selected="false">
                                <img src="assets/img/gps.svg" alt="" width="25" class="mr-2">
                                <span>
                                    Ubicación
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center disabled" id="contact2-vertical-tab" data-toggle="tab" href="#publish" role="tab" aria-controls="publish" aria-selected="false">
                                <img src="assets/img/productos/check.svg" alt="" width="25" class="mr-2">
                                <span>
                                    Publícalo
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent3">
                        <div class="tab-pane fade show active" id="home-vertical" role="tabpanel" aria-labelledby="basic-info">
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" placeholder="Nombre del producto">
                                </div>
                                <div class="form-group">
                                    <input type="number" placeholder="Número de contacto">
                                </div>
                                <div class="form-group">
                                    <textarea name="s" id="" cols="30" rows="3" placeholder="Descripción"></textarea>
                                </div>
                                <div class="form-group">
                                    <select name="" id="sort">
                                        <option value="">
                                            ¿A que categoría pertenece?
                                        </option>
                                        <option value="">
                                            Deportes
                                        </option>
                                        <option value="">
                                            Hogar
                                        </option>
                                        <option value="">
                                            Mascotas
                                        </option>
                                        <option value="">
                                            Ropa
                                        </option>
                                        <option value="">
                                            Tecnología
                                        </option>
                                        <option value="">
                                            Vehículos
                                        </option>
                                        <option value="">
                                            Video juegos
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input id="myInput" type="text" name="myCountry" placeholder="¿Que tipo de artículo es?">
                                </div>
                                <div class="form-group mb-0">
                                    <input type="checkbox" id="cbx">
                                    <label for="">
                                        ¿Quieres que se vea el precio?
                                    </label>
                                </div>
                                <div class="form-group d-none" id="hidden">
                                    <input id="myInput" type="text" placeholder="Precío" onkeyup="format(this)" onchange="format(this)" class="number">
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane features_product bb-0 fade" id="profile-vertical" role="tabpanel" aria-labelledby="profile-vertical-tab">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>
                                                Marca
                                            </b>
                                        </td>
                                        <td>
                                            <span>
                                                Shimano
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                Modelo
                                            </b>
                                        </td>
                                        <td>
                                            <span>
                                                Todoterreno 26"
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-12 mt-4 d-flex d-flex justify-content-center">
                                <a href="#">
                                    <img src="assets/img/add.svg" alt="" width="25">
                                </a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact-vertical" role="tabpanel" aria-labelledby="contact-vertical-tab">
                            <div class="drop-imagen">
                                <h4>
                                    <img src="assets/img/productos/add.svg" alt="" width="45">
                                    Agrega una imagen
                                </h4>
                            </div>
                            <div class="col-2 p-0 preview-img">
                                <img src="assets/img/productos/antonio-rull-Ccyfecyjsds-unsplash.jpg" alt="" class="img-fluid">
                                <div class="icon">
                                    <img src="assets/img/edit.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact2-vertical" role="tabpanel" aria-labelledby="contact2-vertical-tab">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11247.442562334314!2d-74.05894720482767!3d4.6702259324951365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1644513289887!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 preview">
                <h4>
                    Preview
                </h4>
                <img src="assets/img/productos/preview.JPG" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
