<section>
    <div class="container">
        <div class="row">

            <div class="d-flex justify-content-between mt-3">
                <h4>Personas inscrita</h4>
            </div>


            <table class="table mt-5 ">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Terminos</th>
                    <th width="220px">Action</th>
                </tr>
                <tr *ngFor="let person of persons">
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.phone }}</td>
                    <td>{{ person.terminos }}</td>
                    <td>
                        <a href="#" [routerLink]="['/actualizar/', 'actualizar', person.id  ]" class="mr-3">Editar</a>
                        <button type="button" (click)="deletePerson(person.id)" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
