<header>
    <nav>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4 col-md-1 Logo">
                    <a href="#">
                        <img src="assets/img/logo.png" alt="Venta Gratis" width="90" class="img-fluid">
                    </a>
                </div>
                <div class="buscador col-2 col-md-7 d-flex align-items-md-center justify-content-center">
                    <form action="">
                        <input type="text" placeholder="Encuentra el producto que buscas" class="Find">
                        <button type="submit">
                            <a href="/busqueda/">
                                <img src="assets/img/search.svg" alt="" width="23">
                            </a>
                        </button>
                    </form>
                    <div class="d-flex ml-3 btn_gps">
                        <img src="assets/img/gps.svg" alt="" width="25">
                        <h6 class="mb-0">
                            <a href="/busqueda/">
                                Envio a
                                <br>
                                Bogotá
                            </a>
                        </h6>
                    </div>
                </div>
                <div class="col-6 col-md-4 row align-content-center justify-content-end align-items-md-center">
                    <button class="ingresa modal-trigger" data-modal="ingreso">
                        Ingresa
                    </button>
                    <button href="#" class="slide modal-trigger" data-modal="registro">
                        <span>
                            Vende aquí
                        </span>
                    </button>
                    <div class="hamburger">
                        <div></div>
                    </div>
                    <div class="menu">
                        <ul>
                            <li class="categoria">
                                <a href="#">
                                    Tecnología
                                </a>
                                <ul class="dropdown-categorias">
                                    <li>
                                        <a href="#">
                                            Televisores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Celulares
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Tablets
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Cámaras
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Computadores
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    Deportes
                                </a>
                            </li>
                            <li class="categoria">
                                <a href="#">
                                    Hogar y muebles
                                </a>
                                <ul class="dropdown-categorias">
                                    <li>
                                        <a href="#">
                                            Televisores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Celulares
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Tablets
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Cámaras
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Computadores
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="categoria">
                                <a href="#">
                                    Mascotas
                                </a>
                                <ul class="dropdown-categorias">
                                    <li>
                                        <a href="#">
                                            Televisores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Celulares
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Tablets
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Cámaras
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Computadores
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="categoria">
                                <a href="#">
                                    Video juegos
                                </a>
                                <ul class="dropdown-categorias">
                                    <li>
                                        <a href="#">
                                            Televisores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Celulares
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Tablets
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Cámaras
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Computadores
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="categoria">
                                <a href="#">
                                    Ropa
                                </a>
                                <ul class="dropdown-categorias">
                                    <li>
                                        <a href="#">
                                            Televisores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Celulares
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Tablets
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Cámaras
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Computadores
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="categoria">
                                <a href="#">
                                    Vehículos
                                </a>
                                <ul class="dropdown-categorias">
                                    <li>
                                        <a href="#">
                                            Televisores
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Celulares
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Tablets
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Cámaras
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Computadores
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
