@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0; margin: 0;
}
html, body {
    width: 100%; height: 100%;
    position: relative;
    background-color: #fff;
    font-size: 15px; font-weight: 300; line-height: 21px;
    font-family: 'Roboto', sans-serif;
}
header {
    padding: .4em 0;
    background-color: rgb(242 129 35 / 55%);
    position: sticky;
    top: 0; z-index: 1024;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
header.scroll {
    background-color: #f28123;
}
.rating-header {
    font-size: 17px; margin-top: 0;
}
.rating-header .btnrating {
    padding: 2re .7re;
}
.buscador input[type="text"].Find, .buscador select {
    padding: 10px;
    width: 450px; border: 2px solid #000;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.buscador button {
    cursor: pointer;
    background-color: #000; color: #fff;
    border: 0; padding: .75em;
    position: relative; left: -5px;
}
.buscador button img {
    -webkit-filter: invert(1);
         -o-filter: invert(1);
            filter: invert(1);
}
.btn_gps {
    border: 1px solid transparent; padding: .3em;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.btn_gps a {
    color: #000;
}
.btn_gps a:hover {
    text-decoration: none;
}
.btn_gps:hover {
    border-color: #000;
    cursor: pointer;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
         -o-transform: scale(1.02);
            transform: scale(1.02);
}
header .icons {
    margin: 0 1em; position: relative;
}
header .icons img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
header .icons:hover img {
    cursor: pointer;
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
         -o-transform: scale(1.08);
            transform: scale(1.08);
}
header .icons span, header .icons span a {
    position: absolute; top: -10px; right: -10px;
    background-color: #e9ecef; font-size: 73%;
    border-radius: 50%; min-width: 15px; height: 15px;
    text-align: center; line-height: 16px;
    padding: .1em .5em; font-weight: 600;
    color: #000;
}
header .profile {
    position: relative;
}
header .profile .dropdown-menu {
    display: block;
    top: 120%; opacity: 0; visibility: hidden;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
header .profile:hover .dropdown-menu {
    display: block;
    top: 100%; opacity: 1; visibility: visible;
}
header .profile .dropdown-menu:before {
    content: '';
    position: absolute; top: -8px; left: 0;
    width: 0; height: 0;
    border-bottom: 10px solid white;
    border-right: 10px solid transparent;
}
header .profile .dropdown-menu ul {
    list-style: none; margin-bottom: 0;
}
header .profile .dropdown-menu ul hr {
    margin: .3em 0;
}
header .profile .dropdown-menu ul li {
    padding-left: 20px;
}
header .profile .dropdown-menu ul li p, header .profile .dropdown-menu ul li p a {
    margin-bottom: 0; font-family: 'Roboto', sans-serif;
    font-weight: 300; line-height: 23px;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
header .profile .dropdown-menu ul li p a:hover {
    color: #f28123; font-weight: 600;
}
.ingresa {
    border-radius: 3px; background-color: transparent;
    color: #fff; font-size: 19px; font-weight: 600;
    padding: .3em .7em; border: 2px solid #fff; margin: 0 0.5em;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.ingresa:hover {
    text-decoration: none;
    color: #000; border-color: #000;
    background: #f28123;
}
.slide {
    border-radius: 3px;
    background-color: #f28123;
    border: 2px solid #f28123; position: relative;
    padding: .3em 1.2em;
    -webkit-transition: 0.25s;
         -o-transition: 0.25s;
            transition: 0.25s;
}
.scroll .slide {
    border-color: #fff;
}
.slide:hover {
    text-decoration: none;
}
.slide span {
    color: #000; font-weight: 600;
    position: relative; z-index: 3;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.slide:before {
    content: '';
    position: absolute; left: 0; top: 0;
    width: 0; height: 100%;
    background-color: #fff;
    z-index: 0;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.slide:hover:before {
    width: 100%;
}
.slide:hover span {
    color: #000;
}
.hamburger {
    width: 29px; margin-left: 1em;
    cursor: pointer; z-index: 1024;
}
.hamburger:before, .hamburger:after, .hamburger div {
    content: "";
    background: #fff;
    display: block;
    height: 3px;
    margin: 7px 0; border-radius: 3px;
    -webkit-transition: 0.5s;
         -o-transition: 0.5s;
            transition: 0.5s;
}
.hamburger.active:before {
    transform: translateY(9px) rotate(135deg);
}
.hamburger.active:after {
    transform: translateY(-12px) rotate(-135deg);
}
.hamburger.active div {
    transform: scale(0);
}
.menu {
    position: fixed; top: 0; right: 0;
    width: 0; opacity: 0; visibility: hidden;
    height: 100%; background-color: rgb(0 0 0 / 60%);
    padding: 7em 1em;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.menu.active {
    min-width: 321px; width: auto;
    opacity: 1; visibility: visible;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    margin: .7em 1em;
    position: relative;
}
.menu ul li a {
    color: #fff; font-size: 19px; font-weight: 400; line-height: 29px;
    text-align: center;
}
.menu ul li a:hover {
    text-decoration: none;
}
.menu ul li.categoria:before {
    content: '';
    position: absolute; left: -15px; top: 10px;
    width: 0; height: 0;
    border-top: 4px solid transparent;
    border-right: 7px solid white;
    border-bottom: 4px solid transparent;
}
.dropdown-categorias {
    position: absolute; left: -158px; top: -10px;
    background-color: #f28123; display: block; z-index: 9;
    margin: 0; opacity: 0; visibility: hidden;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
li:hover .dropdown-categorias {
    opacity: 1; visibility: visible;
    top: 0;
}
.menu .dropdown-categorias li {
    margin: .4em 1em;
}
.menu .dropdown-categorias li a {
    font-size: 15px;
}

section h2 b {
    color: #F28123;
}

.categorias .categoria .circle {
    cursor: pointer;
    width: 100px; height: 100px;
    background-color: #ccc; border-radius: 50%;
    display: block; margin: auto;
    overflow: hidden;
}

.categorias .categoria h4 {
    text-align: center; font-size: 18px; font-weight: 400;
    color: #000; margin: .4em 0 1em;
}

.producto {
    border: 1px solid #ccc; cursor: pointer;
    padding: 0; border-radius: 4px;
    -webkit-box-shadow: 0 0 0 rgb(0 0 0 / 24%);
            box-shadow: 0 0 0 rgb(0 0 0 / 24%);
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.producto:hover {
    -webkit-box-shadow: 5px 2px 11px 2px rgb(0 0 0 / 24%);
            box-shadow: 5px 2px 11px 2px rgb(0 0 0 / 24%);
}
.product {
    position: relative;
}
.product .new {
    position: absolute; top: 20px; left: 0;
    background-color: #f28123; padding: .3em .6em;
}
.product .new p {
    margin-bottom: 0; font-size: 11px; font-weight: 600; line-height: 19px;
}
.producto .product-body {
    padding: 1em;
}
.producto .product-body h5 {
    font-size: 12px; color: #ccc; font-weight: 400;
}
.producto .product-body h5 span {
    float: right;
}
.producto .product-body h6 {
    font-weight: 400; font-size: 12px;
}
.producto .product-body h4, .producto .product-body h4 a {
    font-size: 19px; font-weight: 400; color: #000;
}
.producto .product-body p {
    margin-bottom: 0; font-size: 9px; font-weight: 100; color: #000;
    text-align: right;
}
.producto .product-body p a {
    font-size: 12px; padding: .7em 1.1em;
    margin: 1em 0;
}
a.btn {
    background-color: #f28123;
    color: #fff; border-radius: 3px;
    font-size: 15px; font-weight: 400; line-height: 19px;
    padding: .8em 2em; border: 1px solid #f28123;
}
a.btn:hover {
    color: #f28123; background-color: #fff;
}
footer {
    padding: 0;
}
.footer-main {
    padding: 1em; background-color: #696969;
}
.footer-main h4 {
    color: #fff; font-weight: 300; line-height: 19px;
    font-size: 20px; text-align: center;
}
.footer-main ul {
    list-style: none;
}
.footer-main ul li {
    margin: .4em 0;
}
.footer-main ul li a {
    color: #000; font-size: 13px; font-weight: 400; line-height: 19px;
    display: block;
}
.footer-main ul li a:hover {
    text-decoration: none; color: #f28123;
}
.footer-main img {
    display: block; margin: auto;
}
.sub-footer {
    background-color: #ccc;
}
.sub-footer p {
    font-size: 13px;
}
.sub-footer p a:hover{
    text-decoration: none;
}
.Social em {
    font-size: 25px; color: #fff;
    margin: 0 .51em;
}

.modal, .modal-box {
    z-index: 1025;
}

.modal-sandbox {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    background: transparent;
}

.modal {
    display: none;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, .8);
    overflow: auto;
    -ms-align-items: center;
        align-items: center;
    justify-content: center;
}

.modal-box {
    position: relative;
    width: 80%; max-width: 920px;
    margin: 100px auto;
    animation-name: modalbox;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0, 0, .3, 1.6);
}
.modal-box {
    max-width: 350px;
}

.modal-header {
    padding: 10px 20px;
    background: #f28123; color: #ffffff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}
.modal-header h4 {
    font-size: 25px; display: block; text-align: center;
    font-weight: 400; color: #fff; margin-bottom: 0;
}

.modal-body {
    background: #ECEFF1;
    padding: 20px 40px;
}
.modal-body input[type="text"],
.modal-body input[type="number"],
.modal-body input[type="email"],
.modal-body input[type="password"]{
    display: block; margin: .9em 0; width: 100%;
    font-size: 16px; font-weight: 300; color: #000;
    border: 2px solid #000; padding: 5px 10px;
}
.modal-body form button {
    border-radius: 3px; background-color: #f28123;
    color: #fff; font-size: 19px; font-weight: 600;
    padding: .5em 1.7em; border: 2px solid #f28123; margin: 0 0.5em;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.modal-body form button.disabled {
    background-color: #ccc !important; cursor: no-drop !important;
    color: #fff !important; border-color: #ccc !important;
}
.modal-body form button:hover{
    background-color: #fff; color: #f28123; border-color: #f28123;
    cursor: pointer;
}
.modal-body form label {
    font-size: 12px;
}

/* Close Button */
.close-modal {
    text-align: right; cursor: pointer;
    position: absolute; right: 0; top: 0;
    background-color: #eceff1; padding: .5em .7em;
    color: #000;
}

/* Animation */
@-webkit-keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
.img_product .owl-nav {
    position: absolute; top: 45%;
    width: 100%;
}
.img_product .owl-nav .owl-prev, .img_product .owl-nav .owl-next {
    width: 25px; position: absolute;
}
.img_product .owl-nav .owl-prev {
    left: 0;
}
.img_product .owl-nav .owl-next {
    right: 0;
}
.thumbnails .owl-item {
    max-width: 100px;
}
.thumbnails .owl-item:first-of-type .item {
    margin-left: 0 !important;
}
.thumbnails .owl-item.current .item{
    border: 1px solid #f28123;
}
.thumbnails .item {
    border: 1px solid #ccc; margin: 0 .5em;
    height: 80px;
}
.thumbnails img {
    width: 100px !important; height: auto !important;
}
.features_product, .description_product, .comentarios_product {
    padding: 1em 15px;
}
.features_product {
    border-bottom: 1px solid #ccc;
}
.features_product table {
    width: 100%; border: 1px solid #ccc;
}
.features_product table tr td {
    padding: 10px; border-bottom: 1px solid #ccc;
}
.features_product table tr td:first-of-type {
    background-color: #e1e1e1; border-color: #fff;
    border-right: 1px solid #fff;
}
.features_product table tr:last-of-type td {
    border-bottom: 0;
}
.description_product {
    border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;
}
.description_product h3, .features_product h3 {
    font-size: 25px; font-weight: 400; line-height: 29px;
    color: #000;
}
.description_product p {
    margin-bottom: 0; font-size: 14px; font-weight: 300; line-height: 17px;
}
.comentarios_product input[type="text"] {
    padding: 10px; border: 2px solid #000;
    width: 450px;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.comentarios_product .btn_pregunta {
    border-radius: 3px; border: 2px solid #f28123;
    background-color: #f28123;
    position: relative; margin-left: 1em;
    padding: 0.3em 1.2em; cursor: pointer;
    -webkit-transition: 0.25s;
         -o-transition: 0.25s;
            transition: 0.25s;
}
.comentarios_product .btn_pregunta span {
    position: relative; z-index: 9; font-weight: 600;
}
.comentarios_product .btn_pregunta:after {
    content: '';
    position: absolute; left: 0; top: 0;
    width: 0; height: 100%;
    background-color: #fff;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.detail_product {
    position: sticky;
    top: 90px;
}
.comentarios_product .btn_pregunta:hover:after {
    width: 100%;
}
.info_product, .info_seller, .info_site {
    padding: 1em; margin-bottom: 1em;
    border-radius: 5px; border: 1px solid #ccc;
}
.info_product p {
    margin-bottom: 0;
}
.info_product p a.btn {
    margin: .5em 0;
}
.info_product p a.btn_contacto {
    border: 1px solid #f28123; background-color: #fff;
    color: #f28123;
}
.info_product p a.btn_contacto:hover {
    background-color: #f28123; color: #fff;
}
.info_product h4 {
    font-size: 25px; font-weight: 600; color: #656565; line-height: 36px;
}
.info_product h5 {
    font-size: 16px; font-weight: 600; line-height: 26px;
}
.info_seller h4, .info_site h4 {
    font-size: 16px; font-weight: 400; line-height: 29px; color: #000;
}
.info_seller h6 {
    font-size: 17px; font-weight: 300; line-height: 13px;
}
.info_seller h6 span {
    font-size: 75%;
}
.owl-carousel .owl-item img {
    position: relative;
}
.banner .owl-carousel .owl-item .txt {
    position: absolute; top: 0; left: 0;
    z-index: 9; padding: 3em 4em;
}
.banner .owl-carousel .owl-item .txt h3 {
    font-size: 65px; font-weight: 600; line-height: 29px;
    color: #000; margin-bottom: .5em;
}
.banner .owl-carousel .owl-item .txt p{
    font-size: 40px; font-weight: 300; line-height: 50px;
    color: #000;
}
.filter {
    border: 1px solid #ccc; border-radius: 4px;
    margin: 1em 0; padding: 1em;
}
.filter input[type="text"], .filter input[type="number"]{
    max-width: 105px; padding: 10px;
    border: 2px solid #000;
}
.filter1 span {
    margin: 0 .3em;
}
.filter h5 {
    font-size: 16px; font-weight: 600; line-height: 26px;
    color: #696969;
}
.filter ul {
    list-style: none; margin-left: .1em; margin-bottom: 0;
}
.filter ul li {
    margin: .4em 0;
}
.filter ul li p, .filter p, .filter label {
    margin-bottom: 0;
}
.filter label {
    font-weight: 400; margin-left: .5em;
}
.edit-product {
    position: relative;
}
.edit-product .item {
    border: 1px dashed #ccc;
    padding: 1em;
}
.edit-product .item .icons {
    position: absolute; bottom: 0; right: 0;
    background-color: #efefef;
}
.edit-product .item .icons a {
    margin: 0 .3em;
}
.edit-product .item .icons a img {
    width: auto !important;
}
td.edit {
    width: 35px;
}
.tab-vertical .nav.nav-tabs {
    float: left; display: block;
    margin-right: 0px; border-bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.tab-vertical .nav.nav-tabs .nav-item {
    margin-bottom: 6px
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem; border-top-right-radius: .25rem;
    background: #fff; color: #71748d; background-color: #dddde8;
    padding: 5px 19px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px
}
.tab-vertical .nav-tabs .nav-link.full {
    background-color: #f28123; color: #fff;
}

.tab-vertical .nav-tabs .nav-link.active {
    color: #f28123; background-color: #fff !important;
    border-color: #f28123 !important
}

.tab-vertical .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0px !important
}

.tab-vertical .tab-content {
    overflow: auto; padding: 0 30px;
    border-radius: 0px 4px 4px 4px;
    background: #fff;
}
.tab-pane form input[type="text"],
.tab-pane form input[type="number"]{
    border: 1px solid #000; color: #000;
    font-size: 16px; font-weight: 400; line-height: 19px;
    background-color: #fff; padding: .6em .5em;
    min-width: 340px; border-radius: 3px;
}
.tab-pane form textarea {
    border: 1px solid #000; color: #000;
    font-size: 16px; font-weight: 300; line-height: 23px;
    width: 100%; padding: .6em .5em; border-radius: 3px;
}
.tab-pane form select {
    border: 1px solid #000; color: #000;
    font-size: 16px; font-weight: 300;
    padding: .6em .5em; border-radius: 3px;
}
.tab-pane form .autocomplete-items {
    padding: .5em;
    border-width: 0 1px 1px 1px; border-style: solid; border-color: grey;
    width: 340px;
}
.tab-pane form .autocomplete-items div {
    cursor: pointer; padding: .3em 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.tab-pane form .autocomplete-items div:hover {
    background-color: beige;
}
.bb-0 {
    border-bottom: 0 !important;
}
.drop-imagen {
    padding: 5em 2em;
    border: 3px dashed #ccc;
}
.drop-imagen h4 {
    text-align: center; opacity: .6;
}
.drop-imagen h4 img {
    display: block; margin: auto;
}
.preview-img .icon {
    position: absolute; bottom: 0; right: 0;
}
.preview-img .icon img {
    width: 25px; cursor: pointer;
    -webkit-filter: invert(1);
    -o-filter: invert(1);
    filter: invert(1);
}
.Leads .tab-vertical .nav-tabs .nav-link {
    border: 0 !important; padding: 0 !important;
}
.Leads .tab-vertical .nav-tabs .nav-link {
    border-radius: 50% !important;
    width: 80px; height: 80px;
    overflow: hidden; position: relative;
}
.Leads .tab-vertical .nav-tabs .nav-link.active > img {
    border: 3px solid #f28123 !important;
}
.Leads .tab-vertical .nav-tabs .nav-link img {
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%; height: 100%;
}
.Leads .tab-vertical .nav-tabs .nav-link span {
    background-color: #fff; border: 1px solid;
    border-radius: 50%; color: #000;
    position: absolute; right: 8px; bottom: 6px;
    text-align: center;
    min-width: 25px; height: 25px;
}
.Leads .tab-vertical {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.Leads .tab-vertical .nav.nav-tabs {
    background-color: #ccc;
    padding: .5em;
}
.tab-vertical .nav.nav-tabs.not-sticky {
    position: relative; top: 0;
    background-color: #fff;
    padding: .7em; border-top: 1px solid #ccc;
}
.tab-vertical .nav.nav-tabs.not-sticky .nav-link {
    width: 40px; height: 40px;
    overflow: visible;
}
.tab-vertical .nav.nav-tabs.not-sticky .nav-link span {
    bottom: -5px; right: -4px;
    min-width: 17px; height: 17px;
    line-height: 16px; font-size: 13px;
}
.Leads .tab-vertical .nav.nav-tabs .nav-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin: .6em;
}
.tab-vertical .nav.nav-tabs.not-sticky h5 {
    font-size: 12px; font-weight: 400; line-height: 19px;
}
.leads {
    min-width: 630px;
    border: 1px solid #ccc; padding: 0;
    position: relative;
}
.leads .messages {
    overflow-y: scroll; max-height: 306px;
}
.leads .body-message {
    height: 310px;
}
.write-message {
    width: 100%; height: 40px;
}
.write-message textarea {
    height: 40px; width: 92%;
    border: 0;
    border-top: 1px solid #000; border-right: 1px solid;
    padding: .5em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.write-message button {
    padding: .46em .9em;
    border: 1px solid #f28123; border-bottom: 0;
    color: #fff; background-color: #f28123;
    position: absolute; cursor: pointer;
}
.write-message button img {
    -webkit-filter: invert(1);
         -o-filter: invert(1);
            filter: invert(1);
}
.timeline {
    line-height: 1.5em; font-size: 14px;
    position: relative; padding: 1em 4.8em 0;
    counter-reset: section;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition:  all 0.4s ease;
}
.timeline:before {
    content: "";
    width: 10px; height: 100%;
    background: #87ceeb;
    position: absolute; top: 0; left: -3.313em;
    border-radius: 40px 40px;
}
.timeline--entry {
    position: relative; margin: 0;
    background-color: #eeeeee;
}
.timeline--entry img {
    border-radius: 50%;
    width: 40px; height: 40px;
    position: absolute; right: -60px;
}
.timeline--entry:nth-child(even) img {
    right: 102%;
}
.timeline--entry__detail {
    background-color: #dddddd;
    padding: 1em .6em; margin: 0;
    font-size: 11px; line-height: 15px; font-weight: 400;
}
.timeline--entry:nth-child(odd) .timeline--entry__detail{
    background-color: #afafaf;
}
.timeline--entry__detail:before {
    content: "";
    display: inline-block;
    width: 1em; height: 1em;
    position: absolute; left: -1em; top: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #dddddd;
}
.timeline--entry:nth-child(odd) .timeline--entry__detail:before {
    left: 100%;
    border-left: 10px solid #afafaf;
    border-right: 0;
}
.nav-tabs h5 {
    font-size: 15px; font-weight: 400; color: #000;
}
.form-group {
  position: relative;
}
.alert-danger {
  position: absolute; bottom: -10px; right: 0;
  background-color: #fff; border: 2px solid #000;
  padding: 0; font-size: 10px; margin: 0;
}
@supports (display: grid) {
    @media (min-width: 768px) {
        .timeline {
            display: grid;
            grid-template-areas: ".  entry1""entry2  ."". entry3""entry4 ."". entry5";
        }

        .timeline--entry:nth-child(1) {
            grid-area: entry1;
        }

        .timeline--entry:nth-child(2) {
            grid-area: entry2;
        }

        .timeline--entry:nth-child(3) {
            grid-area: entry3;
        }

        .timeline--entry:nth-child(4) {
            grid-area: entry4;
        }

        .timeline--entry:nth-child(5) {
            grid-area: entry5;
        }

        .timeline--entry:nth-of-type(odd):before {
            left: -3.8em;
        }

        .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
            left: 100%;
            border-left: 10px solid #ec407a;
            border-right: 0;
        }

    }
}
@media screen and (max-width: 1199px) {
    .buscador input[type="text"].Find, .buscador select {
        width: 270px;
    }
    .banner .owl-carousel .owl-item .txt h3 {
        font-size: 35px;
    }
    .banner .owl-carousel .owl-item .txt p {
        font-size: 30px; line-height: 20px;
    }
    .banner .owl-carousel .owl-item .txt {
        padding: 3em 4em;
    }
    .btn-lg, .btn-group-lg > .btn {
        padding: .1rem .4rem;
    }
    .producto .product-body h4, .producto .product-body h4 a {
        font-size: 17px;
    }
    a.ingresa {
        font-size: 16px;
    }
    a.slide {
        font-size: 13px;
    }
    .producto .product-body {
        padding: 1em .7em;
    }
    .filter input[type="text"], .filter input[type="number"] {
        margin: -.1em 0; width: 100%; display: block;
    }
    .producto .product-body p a {
        padding: .3em .7em; font-size: 12px;
        margin: 1em; margin-left: 0;
    }
    .btn_contacto a.btn {
        padding: .8em 1em; font-size: 13px;
    }
    .info_product h4 {
        font-size: 20px;
    }
    .tab-pane form input[type="text"], .tab-pane form input[type="number"] {
        padding: .3em .4em;
    }
    .timeline {
        padding: 1em 4.3em 0;
    }
    .preview {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 992px;
    }
    .banner .owl-carousel .owl-item .txt {
        padding: 1.5em 4em;
    }
}
@media screen and (min-width: 992px) {
    .categorias .categoria .circle {
        width: 70px; height: 70px;
    }
    .categorias .categoria h4 {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .buscador input[type="text"].Find, .buscador select {
        width: 210px;
    }
    a.ingresa {
        padding: .2em .4em;
    }
    .banner .owl-carousel .owl-item .txt {
        padding: 1.6em 4em;
    }
    .categorias {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
    }
    .categorias .categoria .circle {
        width: 120px; height: 120px;
    }
    a.slide {
        padding: .3em; font-size: 12px;
    }
    .Social em {
        font-size: 20px; margin: 0 0.41em;
    }
    .nuevos h2 {
        font-size: 21px;
    }
}
@media screen and (max-width: 1023px) and (min-width: 601px){
    .icons {
        display: none;
    }
    .buscador input[type="text"].Find, .buscador select, .btn_gps{
        display: none !important;
    }
}
@media screen and (max-width: 600px) {
    .buscador {
        display: block !important;
    }
    .buscador input[type="text"].Find, .buscador select {
        display: none;
    }
    .btn_gps, .txt {
        display: none !important;
    }
    .buscador button {
        display: block; margin: auto;
        border-radius: 10px;
    }
    .categorias {
        margin: 0 !important;
    }
    .categorias h2 {
        font-size: 19px;
    }
    .categorias .categoria .circle {
        width: 90px; height: 90px;
    }
    .producto {
        max-width: 48%;
    }
    header .icons {
        margin: 0 .5em;
    }
    .user .hamburger {
        position: relative; top: 6px;
    }
    .comentarios_product .btn_pregunta {
        margin-left: 0;
    }
    .info_product p {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .btn_contacto p a.btn {
        margin-right: 1em; font-size: 13px;
    }
    .tab-vertical .nav-tabs .nav-link {
        width: 50px; overflow: hidden;
        padding: .6em .7em;
    }
    .tab-vertical .nav-tabs .nav-link img {
        display: block; margin: auto;
    }
    .tab-vertical .nav-tabs .nav-link span {
        display: none;
    }
    .tab-vertical .tab-content {
        padding: 0 10px;
    }
    .tab-pane form input[type="text"], .tab-pane form input[type="number"] {
        min-width: 100%;
    }
    .tab-pane form select {
        width: 100%;
    }
    .Leads .tab-vertical .nav.nav-tabs {
        width: 100%;
    }
    .Leads .tab-vertical {
        display: block;
    }
    .Leads .tab-vertical .nav.nav-tabs .nav-item {
        margin: 0 .6em; width: auto;
        float: left;
    }
    .Leads .tab-vertical .nav-tabs .nav-link {
        width: 70px; height: 70px;
    }
    .tab-vertical .nav.nav-tabs {
        top: 0; position: relative;
    }
    .tab-vertical .tab-content {
        width: 100%; margin: 0;
    }
    .leads {
        min-width: 100%;
    }
    .timeline {
        padding: 1em 5em 0;
    }
    .write-message textarea {
        width: 86%;
    }
}
@media screen and (max-width: 330px) {
    .comentarios_product input[type="text"] {
        width: 160px;
    }
}
